Semestre 2/BDA/TP2/ex2/univQ1.dtd

<!ELEMENT universite (enseignant*,cours*,salle*)*>
  <!ELEMENT enseignant (nom, matiere+)>
  <!ELEMENT cours (code, titre)>
  <!ELEMENT salle EMPTY>
    <!ATTLIST salle numero CDATA #REQUIRED>
  <!ELEMENT nom (#PCDATA) >
  <!ELEMENT matiere (#PCDATA) >
  <!ELEMENT titre (#PCDATA) >
  <!ELEMENT numero (#PCDATA) >
  <!ELEMENT code (#PCDATA) >
